.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  padding: 10px 20px;
  background-color: #F8C4B4;
  border-bottom: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
  position: fixed; /* Fija el header */
  top: 0;
  left: 0;
}
.icon-group-header {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Mantiene los íconos a la derecha */
  gap: 15px; /* Espacio uniforme entre íconos */
  margin-right: 50px;
}

/* Ajustes de tamaño para los íconos */
.header-icon,
.profile-picture,
.boton-inicio {
  width: 40px;
  height: 40px;
  object-fit: contain; /* Asegura que la imagen no se deforme */
}

/* Estilo para los botones de los íconos */
.icon-button-mapa, .boton-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamaño uniforme */
  height: 40px;
  background: transparent; /* Sin fondo */
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button-mapa img, .boton-inicio {
  width: 100%; /* Hace que la imagen ocupe todo el botón */
  height: auto;
}
.header-buttons {
  display: flex;
  align-items: center; /* Alinea verticalmente los botones */
  gap: 10px; /* Espaciado entre los botones */
  margin-right: auto; /* Mueve los botones a la izquierda sin afectar otros elementos */
}

.button-atras{
  width: 40px;
  height: 40px;
}
.boton-inicio, .button-atras{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;    
  }
  

/* Ajustes responsivos */
@media (max-width: 1024px) {
  .icon-group-header {
    gap: 10px;
    margin-right: 20px;
    
  }

  .header-icon,
  .profile-picture,
  .boton-inicio {
    width: 40px;
    height: 40px;
  }

  .icon-button-mapa {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .dashboard-header {
    align-items: self-end;
    padding: 10px;
  }

  .icon-group-header {
    justify-content: center;
    gap: 8px;
    margin-right: 50px;

  }

  .header-icon,
  .profile-picture,
  .boton-inicio {
    width: 35px;
    height: 35px;
  }

  .icon-button-mapa {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .icon-group-header {
    flex-wrap: wrap;
    gap: 5px;
    align-items: self-end;
    margin-right: 50px;
  }

  .header-icon,
  .profile-picture,
  .boton-inicio {
    width: 30px;
    height: 30px;
  }

  .icon-button-mapa {
    width: 30px;
    height: 30px;
  }
}
