/* Estilos generales del header */
.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8C4B4;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
    z-index: 2; /* Asegura que el encabezado esté por encima del fondo blanco */
    animation: slideIn 0.5s ease-out;
  
}

/* Contenedor de iconos */
.insignias-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los iconos se acomoden en varias líneas si es necesario */
  gap: 5px;
  justify-content: center;
}

/* Contenedor circular para cada insignia */
.circular-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Botón circular */
.circular-icono {
  width: 50px; /* Tamaño del botón circular, ajusta según lo necesites */
  height: 50px; /* Tamaño del botón circular, ajusta según lo necesites */
  border-radius: 50%; /* Hace el botón circular */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Asegura que el contenido no se desborde del círculo */
  background-color: #f0f0f0; /* Ajusta el color de fondo si es necesario */
  border: 2px solid #ddd; /* Ajusta el borde si es necesario */
  position: relative;
}

.circular-icono img {
  max-width: 120%; /* Tamaño máximo del GIF dentro del botón circular */
  max-height: 200%; /* Tamaño máximo del GIF dentro del botón circular */
  width: auto; /* Mantiene el tamaño original de la imagen */
  height: auto; /* Mantiene el tamaño original de la imagen */
  display: flex; /* Elimina el espacio adicional debajo de la imagen */
}
/* Efecto de hover en los iconos */
.circular-icono:hover {
  transform: scale(1.2);
}

/* Tooltip con el nombre de la insignia */
.hovered-insignia {
  position: absolute;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* 📱 Responsividad */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Acomoda el header en columna */
    align-items: center;
  }

  .insignias-container {
    gap: 5px;
  }

  .circular-icono {
    width: 50px;
    height: 50px;
  }

  .hovered-insignia {
    top: 60px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  insignias-container {
    gap: 2px;
    margin-top: -6px;
  }

  .circular-icono {
    width: 40px;
    height: 40px;
  }

  .hovered-insignia {
    top: 50px;
    font-size: 10px;
  }
}