
.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los íconos a la izquierda */
    padding: 10px 20px;
    background-color: #F8C4B4; /* Ajusta según tu diseño */
    border-bottom: 1px solid #ccc;
    width: 100vw;
    z-index: 1; /* Mantiene el header por debajo del botón */
    position: absolute;
  }
  .icon-button-mapa {
    width: 50px; /* Ajusta el ancho */
    height: 50px; /* Ajusta la altura */
    padding: 5px; /* Espaciado interno */
    border: none; /* Elimina el borde */
    background: none; /* Sin fondo */
    cursor: pointer; /* Cursor de mano */
}

.icon-button-mapa img {
    width: 100%; /* Hace que la imagen se ajuste al botón */
    height: auto; /* Mantiene la proporción */
}

  .icon-group {
    display: flex;
    gap: 15px; /* Espacio entre los íconos */
  }
  
  .header-icon {
    width: 40px; /* Tamaño uniforme */
    height: 40px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin distorsión */
  }
  
  /*HEADER*/
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FF7E79;
    cursor: pointer;
  }
  

