 /* Estado del encabezado */


 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8C4B4;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
 .header-status {
    display: flex;
    align-items: center;
}
.header-status img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}
.modal-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .modal-icon-button:hover {
    transform: scale(1.2);
  }
  
  .modal-icon {
    width: 50px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 50px;
  }
 /* Botón de icono en el encabezado */
 .icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.mapa{
    position: absolute;
    right: 1300px; /* Ajusta este valor para controlar la posición horizontal */
    
}

.modal-mapa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
  }
  
  .modal-content-mapa {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%; /* Ajusta el ancho del modal */
    max-width: 400px; /* Máximo ancho */
    height: 80%; /* Ajusta la altura del modal */
    overflow: auto; /* Permite scroll si el contenido es más grande que el modal */
}
.icon-button-mapa {
  margin-left: 10px; /* Ajustá el valor según lo que necesites */
}
.circle-nivel1 {
  background-color: rgba(30, 145, 30, 0.3) !important;
  border: 2px solid rgb(22, 143, 28); /* Borde rojo */
 
}

.circle-nivel2 {
  background-color: rgba(47, 62, 146, 0.3) !important;
  border: 2px solid rgb(11, 25, 88); /* Borde rojo */
 
}
.circle-nivel3 {
  background-color: rgba(228, 197, 61, 0.3) !important;
  border: 2px solid rgb(221, 120, 37); /* Borde rojo */
 
}