.perfil-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
  padding: 20px;
}

.perfil-content {
  margin-top: 50px;
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Cabecera */
.perfil-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Información del perfil */
.perfil-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.perfil-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #ff6b6b;
  margin-bottom: 10px;
}
/* Botón de guardar cambios */
.botones-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espacio superior */
}
.boton-editar {
  width: 50%;
  padding: 12px;
  background-color:#ff6b6b;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-editar:hover {
  background-color: #ff6b6b;
  box-shadow: 0px 4px 10px rgba(255, 77, 77, 0.3);
}


.text-content p {
  text-align: justify;
  font-size: 16px;
  color: #000000;
  margin: 5px 0;
}

/* Estadísticas */
.perfil-logros {
  margin-top: 20px;
  padding: 15px;
  background: #f9fafb;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.perfil-stats h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.perfil-stats-table {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stat-box {
  background: #ff6b6b;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

.logros-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.boton-atras {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent; /* Hace el fondo transparente */
  border: none; /* Elimina el borde */
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1200; /* Asegura que esté por encima del sidebar */
}
.back-icon{
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .boton-atras {
      left: 170px; /* Deja margen para el sidebar */
  }
}

.logros-container img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .perfil-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .perfil-content {
    margin-left: 0;
    width: 100%;
    margin-top: 70px;

  }
}
/* Responsividad */
@media (max-width: 768px) {
  .perfil-stats-table {
    flex-direction: column;
    align-items: center;

  }

  .logros-container {
    flex-wrap: wrap;

  }
}
